$brown-ground-1: #402A1E;
$brown-ground-2: #735340;
$brown-ground-3: #A67F68;
$brown-ground-4: #D9B19A;
$brown-ground-5: #BF8D7A;

$blue-sky-1: #68A6A6;
$blue-sky-2: #487373;
$blue-sky-3: #50F2F2;
$blue-sky-4: #3CB5B5;
$blue-sky-5: #99F2F2;

$white: #fff;
$gray: #ddd;
$dark-gray: #555;
